<template>
  <div id="app">
    <v-app>
      <p>{{ message }}</p>
      <student/>
    </v-app>
  </div>
</template>

<script>
import student from "./packs/components/student.vue";
export default {
  data: function() {
    return {
      message: "Students board"
    };
  },
  components: {
    student: student
  }
};
</script>
<style scoped>
p {
  font-size: 2em;
  text-align: center;
}
</style>
