<template>
  <v-container>
  <v-data-table :headers="headers" :items="students" sort-by="last_name" class="elevation-1">
    <template v-slot:top>
      <v-toolbar flat color="white">
        <v-toolbar-title>Students list</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog" max-width="500px" persistent>
          <template v-slot:activator="{ on }">
            <v-btn color="primary" dark class="mb-2" v-on="on">New Student</v-btn>
          </template>
          <v-card>
              <v-form ref="form" lazy-validation v-model="valid">
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                    <v-text-field v-model="editedItem.first_name"  :rules="rules_fn" :counter="40" hide-details="auto" label="First Name"></v-text-field>
                    <v-text-field v-model="editedItem.middle_name" :rules="rules_mn" label="Middle Name"></v-text-field>
                    <v-text-field v-model="editedItem.last_name" :rules="rules_fn" label="Last Name"></v-text-field>
                    <v-text-field v-model="editedItem.nick_name" :rules="rules_nn" label="Nickname"></v-text-field>
                   <v-select
                      v-model="editedItem.gender"
                      :rules="rules_gn"
                      :items="genders"
                      label="Gender"
                    ></v-select></v-col>

              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
              <v-btn color="blue darken-1" :disabled="!valid" text @click="save(editedItem)">Save</v-btn>
            </v-card-actions>
            </v-form>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.action="{ item }">
      <v-icon small class="mr-2" @click="editItem(item)">edit</v-icon>
      <v-icon small @click="deleteItem(item)">delete</v-icon>
    </template>
    <template v-slot:no-data>
      <v-btn color="primary" @click="initialize">Reset</v-btn>
    </template>

</v-data-table>
</v-container>
</template>

<script>
import axios from 'axios'
export default {
  data: () => ({
    valid: true,
    rules_fn: [
      value => !!value || 'Required.',
      value => ( value &&  value.length <= 40 ) || 'Max 40 characters.',
    ],
    rules_mn: [
      value => !!value || 'Required.',
      value => ( value &&  value.length <= 60 ) || 'Max 60 characters.',
    ],
    rules_gn: [
      value => !!value || 'Required.',
    ],
    rules_nn: [
      value => !!value || 'Required.',
    ],
    dialog: false,
    headers: [
      {
        text: "First Name",
        align: "left",
        value: "first_name"
      },
      {
        text: "Middle Name",
        align: "left",
        value: "middle_name"
      },
      { text: "Last Name", value: "last_name" },
      { text: "Nickname", value: "nick_name" },
      { text: "Gender", value: "gender" },
      { text: "Actions", value: "action", sortable: false },
    ],
    students: [],
    editedIndex: -1,
    editedItem: {
      first_name: "",
      middle_name: "",
      last_name: "",
      nick_name: "",
      gender: "",
    },
    defaultItem: {
      first_name: "",
      middle_name: "",
      last_name: "",
      nick_name: "",
      gender: ""
    },
      genders: ['male', 'female'],
  }),
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Student" : "Edit Student";
    }
  },
  watch: {
    dialog(val) {
      val || this.close();
    }
  },
  created() {
    this.initialize();
  },
  methods: {
    initialize() {
      return axios
        .get("/students")
        .then(response => {
           console.log(response.data);
           this.students = response.data;
         })
        .catch(e => {
           console.log(e);
        });
    },
    dataChanged(e) {
        let row = e.target.closest('tr')
        // ...

        axios
          .put( '/students/${item.id}' )
          // Add this clause
          .catch(function(response) {
            row.classList.add('danger')
          })
      },
    save(item) {
      if (this.editedIndex > -1) {
        axios
          .put(`/students/${item.id}`, {
            id: this.editedItem.id,
            first_name: this.editedItem.first_name,
            middle_name: this.editedItem.middle_name,
            last_name: this.editedItem.last_name,
            nick_name: this.editedItem.nick_name,
            gender: this.editedItem.gender
          })
          .then(response => {
            console.log(response);
            this.initialize();
            this.close();
          })
          .catch(errors => {
            alert("Failed... NickName: '" + this.editedItem.nick_name + "' " + Object.values(errors.response.data.errors).flat().join());
            this.failure = true;
            console.log(errors);
          });
      } else {
        console.log(item);
        axios
          .post(`/students/`, {
            student: this.editedItem
          })
          .then(response => {
            console.log(response);
            console.log("Created!");
            this.initialize();
            this.close();
          })
          .catch(errors => {
            alert("Failed... NickName: '" + this.editedItem.nick_name + "' " + Object.values(errors.response.data.errors).flat().join());
            this.failure = true;
            console.log(errors);
            console.log(errors.response.data.message);
            console.log(Object.values(errors.response.data.errors).flat().join());
          });
        this.students.push(this.editedItem);
      }
    },
    getStudent(item) {
      axios.get('/students/${item.id}')
        .then( response => {
          this.student = response.data;
        } )
      .catch( errors => {
          alert("Failed..." + errors);
          this.failure = true;
          console.log( errors );
          } )
    },
    editItem(item) {
      this.editedIndex = item.id;
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      const index = this.students.indexOf(item);
      confirm("Are you sure you want to delete student record?");
      axios
        .delete(`/students/${item.id}`)
        .then(response => {
          console.log(response);
          console.log(response.data.json);
          alert(response.data.json);
          this.initialize();
        })
        .catch(errors => {
          alert("Failed..." + errors);
          this.failure = true;
          console.log(errors);
        });
      this.students.splice(index, 1);
    },
  close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    }
  }

};
</script>

<style scoped>
  body { padding: 1rem; }
  .danger input { border-color: red !important; }
</style>
